body {
    background: #f4f6f9;
  }
  
  pre {
    max-height: 400px;
    overflow: auto;
    font-size: 14px;
  }

  .container{
    max-width: 60%;
  }
  
  textarea {
    font-family: monospace;
  }
  