table {
    border-collapse: collapse;
    width: 100%;    
    text-align: center;
}

.left{
 text-align: left;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}

.no-border td{
    border: none !important;
    padding: 10px;
    text-align: center;
}

.side-lines td{
    border: none;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.side-lines td:first-child{
    border-left: 1px solid black;
}

.side-lines td:last-child{
    border-right: 1px solid black;
}