body {
    font-family: Arial, sans-serif;
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-bottom: 30px;
    color: #666;
}

.form-container {
    padding: 30px;
    margin-bottom: 30px;
}
.seprate {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.table-container {
    padding: 0px 30px 30px;
}



.form-group {
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

input[type="text"] {
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

button {
    padding: 10px 30px;
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: white;
}

.submit1 {
    background-color: #2196F3;
}

.submit2 {
    background-color: #2196F3;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}

th {
    background-color: #e0e0e0;
    font-weight: bold;
}

td {
    background-color: white;
}

