.container{
    width: 70%;
    height: 250px;
    border: 1px solid #000;
    margin: auto;
}
 
.center{
    text-align: center !important;
}
.inner-container{
    height: 200px;
    border: 1px solid #000;
    margin: 20px 30px 30px 30px;
    /* text-align: center; */
}

.left{
    text-align: left !important;
    padding: 10px;
}

.message {
    margin-top: 10px;
    font-size: 16px;
}

.error {
    color: red;
}

.success {
    color: green;
}