button {
  padding: 7px;
  margin: 0;
  background-color: seagreen;
  color: white;
  border-radius: 3px;
}
.container1 {
  margin: auto;
  margin-top: 130px;
  width: 400px;
  height: 100px;
  border: 1px solid black;
  border-width: 3px;
  padding: 10px;
  padding-top: 0px;
}
.container2 {
  margin: auto;
  margin-top: 50px;
  width: 400px;
  height: 140px;
  border: 1px solid black;
  border-width: 3px;
  padding: 10px;
  padding-top: 0px;
}
